* {
  /* Sets or rather resets any predefined values a browser might apply. */
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* font-family: sans-serif; */
}

*{
  font-family: 'Times New Roman', Times, serif;
  /* color: whitesmoke; */
}

body {
  background: linear-gradient(to bottom right, #534379, #561139);
}

input, button, a {
  all: unset;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color:aliceblue;
  text-align: center;
  margin-bottom: 10%;
}


.login-container {
    width: 40%;
    margin: 25vh auto;
    padding: 2% 0 2% 0;
    border: 1px solid #ccc;
  }
  

.loginElemets{
  margin: 1% 5%;
  /* padding: 3% 3%; */
  /* padding: 3% 0%; */
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

}

.loginElemets input{
  padding-left: 1%;
  margin-bottom: 3%;

}

.loginElemets p{
  margin: 0;
  padding: 0;
  color: aliceblue;
}
.loginElemets p a{
  color: rgb(206, 208, 214);
}
input {
  width: 100%;
  /* padding-left: 1%; */
  background-color: #ddcce7;
  display: block;
  
}
.loginBtn{
  margin: 3% 0;
}


  

/* Disable bootstrap functions here.  */

.btn{
  padding: 0;
  
}
.btn:hover{
  background-color: red;
  color: white;
}
.btn-primary{
  background-color: #88719d;
  border-color: #88719d;
  width: 100%;
}

.btn-primary:hover{
  background-color: #a189b8;
  border-color: #88719d;
}

.btn-primary.focus, .btn-primary:focus {
	box-shadow: none;
}